﻿@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/sourcesanspro-regular-webfont.eot');
    src: url('fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*! normalize.css v2.0.1 | MIT License | git.io/normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}


h3,h4,h5,p,body 
{ font-family:Arial, Geneva, Arial, Helvetica, sans-serif;
}


/* this will default when other fonts not specified*/
body
{
	font: 100%;
	text-transform: none;
	color: #333333;
	margin:0px;
}



.appTitle {
  font-size:12pt;
  color: #006094;
}

/* remove bootstrap bold-ing of labels if desired */
.noBootStrapLabel label {
		font-weight: normal !important;
}


/*Heading elements - the authors will be able to choose these in placeholders
  when allowed to pick styles*/

H1
{
	margin-top: 14px;
	font-weight: 600;
	font-size: 14pt;
	margin-bottom: 6px;
	text-transform: capitalize;
	color: #006094;
	line-height: 100%;
	font-family: Arial;
	text-align: center;
}
H2
{
    MARGIN-TOP: 20px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: #006094;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center
}
H3
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 8pt;
    COLOR: #006094;
    FONT-FAMILY: Arial
}
H4
{
    MARGIN-TOP: 40px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12pt;
    MARGIN-BOTTOM: 14px;
    COLOR: red;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center
}
H5
{
    MARGIN-TOP: 30px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center
}
 
ol li
{
	list-style-type: decimal;
}
ol ol li
{
	list-style-type: upper-alpha;
}
ol ol ol li
{
	list-style-type: lower-roman;
}
ol ol ol ol li
{
	list-style-type: lower-alpha;
}
ol ol ol ol ol li
{
	list-style-type: decimal;
}
ol ol ol ol ol ol li
{
	list-style-type:upper-alpha;
}

A:active
{	
	color: #006094;
	font-weight:bold;
	text-decoration: none;
	
}
A:link
{	
	color: #006094;
	font-weight:bold;
	text-decoration: none;
	
}
A:visited
{	
	color: #006094;
	font-weight:bold;
	text-decoration: none;   
	
}
A:hover
{	
	color: #006094;
	font-weight:bold;
	text-decoration: underline; 
	cursor:hand;  
}

/*******************Body fonts*****************/
          
.headline
{
	font-size: 120%;
	font-weight: normal;
	text-transform: none;
	color: #006094;
	padding-bottom: 10px;
	padding-top: 10px;
}
	
.bodyHeadtext         /* in body paragraph titles */
{	
	font-size: 80%;
	font-weight:bold;
	color: #006094;
	text-decoration: none;
}

.bodytext     /*smaller body text*/   
{
	font-size: 80%;
	text-transform: none;
	color: #333333;
}

.captiontext     /*tiny text*/   
{
	font-size: 70%;
	text-transform: none;
	color: #333333;
}

.formLabels         /* in body paragraph titles */
{	
	font-size: 75%;
	font-weight:bold;
	color: #333333;
	text-align: left; 
	vertical-align:top;
	text-decoration: none;
}

A.alltext:link          /*  more>>  link */
{	
	color: #006094;
	font-weight:bold;
	text-decoration: none;
}

.introtext
{
	font-size: 90%;
	vertical-align: baseline;
	text-transform: none;
	color:  #333333;
}


.introHeadPostingtext /*Used for postings on summary page */       
{	
	color: #006094;
	text-decoration: underline;
}

.teasercontrol
{
	font: bold medium Arial, Geneva, Arial, Helvetica, sans-serif;
	text-transform: none;
	color: #333333;
	border-width:medium;
	border-top-style: outset;
	border-right-style: outset;
	border-left-style: outset;
	background-color: #d7dfeb;
	border-bottom-style: outset;
}

/* Text for error messages*/
.errortext
{
	font-size: 90%;
	color: red;
	text-decoration: none;
}

/* used for author instructions */
.mwalabel
{
	FONT-FAMILY: Arial, Geneva, Arial, Helvetica,  sans-serif;
	font-size: 100%;
	color: #000000;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none
}

/************* Printer Friendly control ****************/
.printIcon
{
	margin-left: 25px;
}

.printtext
{

	font: Serif;
}
.printdisclosure
{
	font-size: 9px;
	font: Serif;
}
.printbutton
{
	margin-left: 10px;
	width: 60px;
	margin-right: 10px;
	text-decoration: none;
}
.printtitle
{
	
	text-align: center;
}
.printUrl
{
	
	font-family: Serif;
	text-decoration: underline;
}

.link
{
	font: 10px Arial, Geneva, Arial, Helvetica, sans-serif;
	text-transform: none;
	color: #003366;
	font-weight:bold;
	text-decoration: underline; 
}

/* used to align images */
.leftimg
{
	float: left;
}

/**** right sidebar text *****/

.sidebar
{
	font-size:70%;
	text-transform: none;
	color: #006094;
}

.sidebarheading
{
	font-size: 70%;
	font-weight:bold;
	/*font: bold 13px Arial, Geneva, Arial, Helvetica, sans-serif;*/
	text-transform: none;
	text-decoration: none;
	/*color: #003366;*/
	color: #333333;
}
.sidebarButton
{
	width: 120px;
}
/*************** navigation section*****************/
/* left nav */

.collapsedText
{
    background-color: #b3d2da;
    font-size: 8pt;
    font-family: Arial;
    font-weight: bold;
    color: #006094;
    cursor: default;
    text-align: center;
    filter: flipv fliph; 
    writing-mode: tb-rl;
    vertical-align: middle;
}

.leftnavfont, A.leftnavfont:active, A.leftnavfont:link, A.leftnavfont:visited
{
	font-size: 8pt;
	font-family: Arial;
	font-weight: normal;
	color: #006094;
}

A.leftnavfont:hover
{
	font-size: 8pt;
	font-family: Arial;
	font-weight: normal;
	color: #006094;
}

.topleftnavfont, A.topleftnavfont:active, A.topleftnavfont:link, A.topleftnavfont:visited
{
	font-size: 8pt;
	font-family: Arial;
	font-weight: bold;
	border-top: gray 1px dashed;
	color: #006094;
}
A.topleftnavfont:hover
{
	font-size: 8pt;
	font-family: Arial;
	font-weight: bold;
	color: #006094;
}
	
.dynamicleftnavfont, A.dynamicleftnavfont:active, A.dynamicleftnavfont:link, A.dynamicleftnavfont:visited
{
	font-size: 8pt;
	font-family: Arial;
	font-weight: bold;
	padding-left:2px;
	color: #006094;
}
A.dynamicleftnavfont:hover
{
	font-size: 8pt;
	font-family: Arial ;
	color:  white;
	font-weight: bold; 
	color: #006094;
}
.hoverleftnavfont
{
	font-size: 8pt;
	font-family: Arial;
	font-weight: bold;
	color: #006094;
}

.topnavfont, a.topnavfont:active, a.topnavfont:link, a.topnavfont:visited
{
	font-family: Arial;
	color: white;
	font-size: 8pt;
	font-weight: normal;
  padding: 1px;
}

a.topnavfont:hover, a.topnavfont:focus
{
	text-decoration: none;
  font-weight: normal;
}

.hovertopnavfont
{
	font-size: 75%;
	font-family: Arial;
	color: white;
}
/**** styles to control horizontal menu toolbar ****/
 .horizontalmenu, A.horizontalmenu:active, A.horizontalmenu:link, A.horizontalmenu:visited, A.horizontalmenu
        {
         font-size: 11px;
         width: 150px;
         font-family: Arial;
         color: White;
         text-decoration:none;
         text-align:center;
         vertical-align:middle;
         padding: 2px;
         filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#88CCCC,endColorStr=#006094);
        }
        A.horizontalmenu:hover
        {
         font-size: 11px;
         width: 150px;
         font-family: Arial;
         color: #006094;
         text-decoration:none;
         text-align:center;
         vertical-align:middle;
         padding: 2px;
          }
         .menuItemDynamic,  A.menuItemDynamic:link, A.menuItemDynamic:visited, A.menuItemDynamic
        {
         font-size: 11px;
         width: 150px;
         font-family: Arial;
         color: White;
         text-decoration:none;
         text-align:left;
         vertical-align:middle;
         padding: 2px;
         filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#88CCCC,endColorStr=#006094);
        }
         A.menuItemDynamic:hover
        {
         font-size: 11px;
         width: 150px;
         font-family: Arial;
         color: #006094;
         text-decoration:none;
         text-align:left;
         padding: 2px;
        }
      .backGroundDynamic, A.backGroundDynamic:active, A.backGroundDynamic:link, A.backGroundDynamic:visited, A.backGroundDynamic
        {
				 z-index: 1;
         font-size: 11px;
         width: 150px;
         font-family: Arial;
         color: White;
         padding: 2px;
         text-align:left;
         vertical-align:text-bottom;
         text-decoration:none;
         filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#2088CCCC,endColorStr=#20006983);
        }
/*************** user defined bottom step nav section*****************/


/*
used for footer navigation
*/
.bottomNav, A.bottomNav:active, A.bottomNav:link, A.bottomNav:visited
{
	font-size: 80%;
	text-transform: none;
	font-weight: normal;
	/*color: #003366;*/
	color: #006094;
}

A.bottomNav:hover
{
		text-decoration: underline;
}


/*Bread Crumb Definition*/
.breadcrumb, A.breadcrumb:active, A.breadcrumb:link, A.breadcrumb:visited
{
	font-size: 80%;
	text-transform: none;
	font-weight: normal;
	color: #006094;
}

A.breadcrumb:hover
{
	/*color: #660000;*/
	text-decoration: underline;
}

/*************** styles for dropdown *****************/
.stepnavRed
{
	color: #660000;
}

.stepnavGray
{
	color: #CCCCCC;
	
}

.title       /* secondary title*/
{	font-size: 125%;
	font-weight:bold;
	text-transform: none;
	/*color: #333333;*/
	color: #006094;
}	

.bodyHeadtext         /* in body paragraph titles */
{	
	font-size: 80%;
	font-weight:bold;
	/*color: #003366;*/
	color: #006094;
	text-decoration: none;
}

.introHeadtext
{
	font-size: 90%;
	text-transform: none;
	font-weight: bold;
	/*color: #333333;*/
	color: #006094;
}

/* Begin Console CSS items */
.consolenavigationlink
{
	FONT-SIZE: 70%;
    font-weight: bold;
    COLOR: #003366;
    FONT-FAMILY: Arial
}
A.consolenavigationlink:link{text-decoration: none;}
A.consolenavigationlink:visited{text-decoration: none;}
A.consolenavigationlink:active{text-decoration: none;}
A.consolenavigationlink:hover{color: #cc6600; text-decoration: none}
/* End Console CSS Items */


/*Solutions classes*/
.data10
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial
}
.fix10
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Courier
}
.data8
{
    FONT-SIZE: 9pt;
    FONT-FAMILY: Arial
}
.fix8
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Courier
}

.buttonLN
{
    BORDER-RIGHT: darkslategray double;
    BORDER-TOP: lightgrey double;
    FONT-SIZE: 8pt;
    BORDER-LEFT: lightgrey double;
    WIDTH: 100px;
    COLOR: black;
    BORDER-BOTTOM: darkslategray double;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #d8d4d0
}
.data8LN
{
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: Arial
}
.hdgLN
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #003466;
    FONT-FAMILY: Arial
}
.data9
{
    FONT-SIZE: 9.5pt;
    FONT-FAMILY: Arial
}
.bgLN
{
    FONT-SIZE: 9pt;
    TEXT-INDENT: 0pt;
    FONT-FAMILY: Arial;
    background-color: #e6f0f4;
}
.lbl10
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #006094;
    FONT-FAMILY: Arial
}
.err9
{
    FONT-SIZE: 9.5pt;
    COLOR: red;
    FONT-FAMILY: Arial
}
.lbl8LN
{
    FONT-SIZE: 9pt;
    COLOR: #006094;
    FONT-FAMILY: Arial
}
.data7
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Arial
}
.lbl8
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #006094;
    FONT-FAMILY: Arial
}
.Left_border
{
    BORDER-LEFT: #999999 thin solid
}
.Right_border
{
    BORDER-RIGHT: #999999 thin solid
}
.Top_border
{
    BORDER-TOP: #999999 thin solid
}
.Bottom_border
{
    BORDER-BOTTOM: #999999 thin solid
}
.Top_Bottom_border
{
    BORDER-TOP: #999999 thin solid;
    BORDER-BOTTOM: #999999 thin solid
}
.Bottom_Left_border
{
    BORDER-TOP: #999999 thin;
    BORDER-LEFT: #999999 thin solid;
    BORDER-BOTTOM: #999999 thin solid
}
.Bottom_Right_border
{
    BORDER-RIGHT: #999999 thin solid;
    BORDER-TOP: #999999 thin;
    BORDER-BOTTOM: #999999 thin solid
}
.Top_Left_border
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: #999999 thin solid;
    BORDER-LEFT: #999999 thin solid;
    BORDER-BOTTOM: medium none
}
.Top_Right_border
{
    BORDER-RIGHT: #999999 thin solid;
    BORDER-TOP: #999999 thin solid
}
.Top_bottom_left_border
{
    BORDER-TOP: #999999 thin solid;
    BORDER-LEFT: #999999 thin solid;
    BORDER-BOTTOM: #999999 thin solid
}
.Top_bottom_right_border
{
    BORDER-RIGHT: #999999 thin solid;
    BORDER-TOP: #999999 thin solid;
    BORDER-LEFT: #999999 thin;
    BORDER-BOTTOM: #999999 thin solid
}
.Bottom_left_right_border
{
    BORDER-RIGHT: #999999 thin solid;
    BORDER-LEFT: #999999 thin solid;
    BORDER-BOTTOM: #999999 thin solid
}
.err10
{
    FONT-SIZE: 10pt;
    COLOR: red;
    FONT-FAMILY: Arial
}
.hdgDVLP
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14pt;
    COLOR: red;
    FONT-FAMILY: Arial
}
.err12
{
    PADDING-RIGHT: 0pt;
    PADDING-LEFT: 0pt;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    PADDING-BOTTOM: 0pt;
    COLOR: red;
    PADDING-TOP: 0pt
}
.blue10
{
    FONT-WEIGHT: 600;
    FONT-SIZE: 10pt;
    COLOR: #006094
}


.altrow
{
    FONT-FAMILY:  Arial;
    BACKGROUND-COLOR:#cfe6ec;
}
.normrow
{
    FONT-FAMILY:  Arial;
    BACKGROUND-COLOR: white
}

.altHeader10
{
	FONT-FAMILY:  Arial;
  BACKGROUND-COLOR: #006094;
  FONT-SIZE: 10pt;
  COLOR: White
}

.altHeader9
{
	FONT-FAMILY:  Arial;
  BACKGROUND-COLOR: #006094;
  FONT-SIZE: 9.5pt;
  COLOR: White
}

.altHeader8
{
	FONT-FAMILY:  Arial;
  BACKGROUND-COLOR: #006094;
  FONT-SIZE: 9pt;
  COLOR: White
}
.topnavlink
{
    FONT-SIZE: 8pt;
    CURSOR: hand;
    COLOR: white;
    FONT-FAMILY: Arial;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}

.handlink
{
	font-weight:bold;
	cursor: hand;
	text-decoration: underline;
	COLOR: #000094;
    FONT-FAMILY: Arial
}
.bgHitList
{
    FONT-SIZE: 8pt;
    FONT-WEIGHT:bold;
    TEXT-INDENT: 0pt;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #f5f0eb
}
.modalBackground 
{background-color:#E6F0F2; filter:alpha(opacity=40); opacity:0.4}

.completeListStyle{
    color : windowtext;
    margin : 0px;
    border : buttonshadow;
    border-width : 1px;
    border-style : solid;
    cursor : 'default';
    overflow : auto;
    height : 200px;
    text-align : left; 
    list-style-type : none;
    white-space:nowrap;
    background-color:White;
    cursor:pointer;
    }
    
.completeListItemStyle{
		margin : 0px;
		text-align : left;
    font-size:9pt;
    }
.completeListItemSelectedStyle{
		margin : 0px;
		text-align : left;
    font-size:9pt;
    background-color:#E6F0F2;
    }

.mwaRow {
	clear: both;
}
.mwaRow:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.ie7 .mwaRow {
	display: inline-block;
}
.ie6 .mwaRrow {
	height: 1%;
}
.mwaCol {
	float: left;
	min-height: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.mwaCol.padded {
	padding: 0 1%;
}
.mwaCol.padded-left {
	padding: 0 0 0 1%;
}
.mwaCol.padded-right {
	padding: 0 1% 0 0;
}
.ie6 .mwaCol, .ie7 .mwaCol { /* box-sizing doesn't work on ie7 and earlier */
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.mwaCol.one {
	width: 8.333333333333333%;
}
.mwaCol.two {
	width: 16.66666666666667%;
}
.mwaCol.three, .mwaCol.one-fourth {
	width: 25%;
}
.mwaCol.four, .mwaCol.one-third {
	width: 33.33333333333333%;
}
.mwaCol.five {
	width: 41.66666666666667%;
}
.mwaCol.six, .mwaCol.half {
	width: 50%;
}
.mwaCol.seven {
	width: 58.33333333333333%;
}
.mwaCol.eight, .mwaCol.two-thirds {
	width: 66.66666666666667%;
}
.mwaCol.nine, .mwaCol.three-fourths {
	width: 75%;
}
.mwaCol.ten {
	width: 83.33333333333333%;
}
.mwaCol.eleven {
	width: 91.66666666666667%;
}
.mwaCol.twelve, .mwaCol.wide {
  width: 100%;
}

@media print {
  .printHide {
  display:none !important;
}
}

#header-wrapper {
	background: url('images/bkg-main-header-repeat.png') left -43px repeat-x;
	padding-right: 30px;
	position: relative;
  font-family: Source Sans Pro;
}
#header-wrapper .header-bkg {
	background: url('images/bkg-main-header.png') left -43px no-repeat;
	height: 181px;
	padding-left: 30px;
}
#header-wrapper h1 {
	margin: 0;
	position: absolute;
	top: 36px;
	left: 30px;
}

#utility-links {
	position: absolute;
	right: 30px;
	top: 5px;
}
#utility-links ul li {
	float: left;
	color: #fff;
	list-style-type: none;
	border-right: 1px solid #fff;
}
#utility-links ul li a {
	color: #fff;
	font-style: italic;
	font-weight: bold;
	font-size: 16px;
	padding: 0 11px;
}

#utility-links ul li.last {
    border-right: 0;
}
#utility-links ul li.last a {
	border-right: 0;
}
#utility-links ul li a:hover {
	color: #b3d88c;
}
/* TOP NAV */
#zz16_TopNavigationMenuV4 .menu-horizontal {
 display: table;
 width: 75%;
 position:absolute;
 left: 26%; /*364px*/
 top: 125px;
 font-size: 13px;
 line-height: 19px;
}
#zz16_TopNavigationMenuV4 .menu-horizontal ul.static {
 display: table-row;
}
#zz16_TopNavigationMenuV4 .menu-horizontal li.static {
 float: none;
 display: table-cell;
 text-align: left;
 vertical-align: middle;
}
#zz16_TopNavigationMenuV4 .menu-horizontal ul.static li.active a {
	color: #006990;
}
#zz16_TopNavigationMenuV4 .menu-horizontal li.static ul {
	display: none;
}
#zz16_TopNavigationMenuV4 .menu-horizontal li.static.ui-hover {
	position: relative;
	left: 0;
	top: 0;
}
#zz16_TopNavigationMenuV4 .menu-horizontal li.static.ui-hover ul {
	display: block;
	position: absolute;
	left: -5px;
	top: 71px;
	background: #e4eff3;
	width: 100%;
	z-index:999;
}
#zz16_TopNavigationMenuV4 .menu-horizontal li.static.ui-hover ul li {
	padding: 8px;
}
#zz16_TopNavigationMenuV4 .menu-horizontal li.static.ui-hover ul li a {
	padding-left: 14px;
	color: #006990;
	white-space: nowrap;
}
#zz16_TopNavigationMenuV4 .menu-horizontal li.static.ui-hover ul li a:hover {
	background: url('/Style Library/theconnection/images/arrow-nav.png') 4px 3px no-repeat;
	color: #4f6e18;
}
#zz16_TopNavigationMenuV4 .menu-horizontal a.static {
 float: none;
 color: #008ca8;
 font-weight: bold;
 font-size: 16px;
 text-transform: uppercase;
}

#zz16_TopNavigationMenuV4 .menu-horizontal a.static:hover {
	color: #006990;
}
#zz16_TopNavigationMenuV4 .menu-horizontal .menu-item-text {
 white-space: normal;
 display:block; 
}
#zz16_TopNavigationMenuV4 .menu-horizontal .menu-item-desc {
	text-transform: none !important;
	font-weight: normal;
	font-size: 12px;
}
#zz16_TopNavigationMenuV4 .s4-tn li.static > .menu-item {
 display: block;
 white-space: normal;
}

.ServerNameLabel {
	position: absolute;
	right: 50px;
	top: 70px;
  font-weight:bold;
  font-size:20px; 
  color: #008ca8;
}