﻿
legend 
{
  color: #006094;
  text-align: center;
}

fieldset
{
  margin-bottom: 15px;
}

span.bold
{
  font-weight: bold;
}

hr 
{
  margin-bottom: 5px;
  margin-top: 5px;
}

.loading-panel 
{
  border: solid 1px #aaa;
  text-align: center;
  width: 50%;
  padding: 20px;
  margin: 0 auto 0 auto;
  background-color: #dddbdb
}

.alt-row 
{
  background-color: rgb(207, 230, 236)
}
.btn:focus
{
  outline: none
}

.list-group-item.info
{
  background-color: rgb(207, 230, 236);
  border-color: #006094;
  font-size: 12px;
  font-weight: bold;
  color: #006094;
}

#divMain
{
  padding-bottom: 50px;
}